    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .header {
        padding-top: 10px;
        position: fixed;
        background: white;
        z-index: 100;
        width: 100%;
        /*display: none*/
    }
    
    .header .logo {
        width: 70%;
        text-align: center;
        /*display: none;*/
    }
    
    .header .bars {
        padding-top: 25px;
        width: 30%;
        text-align: center;
    }
    
    .header .bars i {
        border-right: 1px dotted black;
        padding-right: 10px;
        font-size: 20px
    }
    
    .header-pc {
        /*display: none*/
    }
    
    .header .right {
        width: 20%;
        padding-top: 20px;
        color: black;
        display: none;
    }
    
    .header .right i {
        color: black;
        /*display: none*/
    }
    
    .mobile-icon-contact i {
        color: black
    }
    
    .mobile-icon-contact {
        text-align: center;
        padding: 10px 0
    }
    
    .logo-mo-menu {
        text-align: center;
        padding: 20px 0px
    }
    
    .header .right .search {
        text-align: center;
    }
    
    .header .right .cart {
        text-align: center;
    }
    
    .header .right .acc {
        width: 30%;
        text-align: center;
    }
    
    .header .menu {
        display: none
    }
    
    .menu-mobile {
        /*width: 65%;*/
        position: fixed;
        width: 50%;
        background: white;
        height: 100%;
        top: 0px;
        /*z-index: -10*/
        display: none;
        /*box-sizing: border-box;*/
    }
    
    .menu-mobile ul li {
        padding: 20px;
        border-bottom: 1px dotted black;
        list-style: none
    }
    
    .menu-mobile ul li a {
        color: black;
        font-weight: bold;
    }
    
    .container2 {
        width: 80%;
        margin: 0 auto
    }
    
    .menufix {
        /*box-shadow: 0 0px 30px 5p/*x*/
        border-radius: 20px;
        animation-duration: 0.5s;
        animation-delay: 0s;
        animation-name: fadeInDown;
        z-index: 100;
        background: white;
        left: 5%;
    }
    
    .menuActive {
        display: block;
        animation-duration: 01s;
        animation-delay: 0s;
        animation-name: fadeInDown;
        z-index: 1001
    }
    
    @media screen and (min-width: 768px) {
        .mobile-icon-contact {
            display: none
        }
        .header .bars {
            padding-top: 25px;
            width: 10%;
            text-align: center;
        }
        .header .bars i {
            border-right: 1px dotted black;
            padding-right: 10px;
            font-size: 20px
        }
        .header .logo {
            width: 75%;
            text-align: center;
            /*display: none;*/
        }
        .header .right {
            width: 15%;
            padding-top: 20px;
            color: black;
            display: flex;
        }
    }
    
    @media screen and (min-width: 1024px) {
        .header .bars {
            display: none
        }
        .header .logo {
            width: 20%;
            text-align: center;
            /*display: none;*/
        }
        .header .right {
            width: 15%;
            padding-top: 20px;
            color: black;
            display: flex;
        }
        .header .menu {
            display: block;
            width: 65%;
            padding-top: 20px;
            text-align: right;
        }
        .header .menu ul li {
            list-style: none;
            font-weight: bold;
            padding: 0px 20px;
            display: inline-block;
        }
        .header .menu ul li a {
            text-decoration: none;
            color: black;
            font-size: 16px
        }
        .header .menu ul li a:hover {
            color: #C8AA78
        }
        .header .right i:hover {
            color: #C8AA78
        }
        .opacityAll {
            display: none;
        }
        .menu-mobile {
            display: none;
        }
    }
    
    @keyframes fadeInDown {
        0% {
            opacity: 0;
            transform: translate3d(0, -100%, 0);
        }
        100% {
            opacity: 1;
            transform: none;
        }
    }
    
    @keyframes menuleft {
        0% {
            left: -300px;
            opacity: 0;
        }
        100% {
            left: 0;
            opacity: 1;
        }
    }